[submodule "flashinfer_bench"]
	path = flashinfer_bench
	url = https://github.com/JorgeLRW/flashinfer-bench-starter-kit
[submodule "openevolve"]
	path = openevolve
	url = https://github.com/algorithmicsuperintelligence/openevolve.git
